<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Sideprojectbot is a really simple sideproject tracking app for personal projects. You can create projects, add ideas to them, and mark off completed tasks.</p>

    <p>I created it to track Rails projects I am working on. Emails to myself, evernote, excel documents, folders were not working the way I wanted. It uses Devise, Bootstrap and Postgresql.</p>
<% if user_signed_in? %>
    <span><%= link_to "Add a Project", new_project_path, class: "btn" %></span>
    <span><%= link_to "My Projects", projects_path, class: "btn" %></span>
    <% else %>
    <span><%= link_to "Sign up to track my projects", new_user_registration_path, class: "btn" %></span>
    <% end %>
</div>