<h1>Sideprojectbot</h1>
<%= link_to "Register", new_user_registration_path %> |
<%= link_to "Sign In", new_user_session_path %>
<p>Sideprojectbot is simple side project tracking for personal projects. I created it to help track Rails personal projects I am working on. It was inspired by iDoneThis.com and by the fact that Gmail, Google docs, Evernote, excel documents, and a notebook did not match exactly what I was looking for.</p>

<p>Sideprojectbot is simple. It lets you create projects, add ideas/tasks to them like a to-do list or ticket queue, and mark those tasks as completed when they are done.</p>

<p>It uses Devise, Bootstrap and Postgresql.</p>

<p>Apparently, I need to get on the apple ecosystem because "Things" is more or less this project as I envisioned it, but for iOs.</p>