@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* FONT */

#logo {
  color: green;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  font-size: 20px;
  padding-top: 9px;
}

#logo:hover {
  color: green;
  background-color: white;
  text-decoration: none;
}

.ideas-title {
  font-weight: bold;
}

/* BUTTONS */

.btn {
  color: white;
  background-color: green;
  &:hover {
    color: white;
    background-color: #004C00;
    text-decoration: none;
  }
}

.homepage-btn {
  margin-top: 15px;
  padding: 10px;
}

.add-toad-btn {
  margin: 0px;
}

/* FORMS */

.toad-form {
  padding: 0px;
  margin: 10px 0 0 0;
}

/* HEADER */

.navbar-custom {
  background-color: white;
  border-bottom: 1px solid #EEE;
}

/* VIEWS */

/* Div wrapping each individual project in index */
.project-wrapper {
  border-top: 1px solid #EEE;
  padding: 10px;
}

/* Div wrapping each individual toad on the project#show view */
.toad-partial {
  padding: 3px;
  p {
    margin: 0px;
    font-weight: bold;
    color: green;
  }
}

/* Div wrapping the list of toads for a project#show view */
#toad-list {
  margin-top: 20px;
}